/*css-reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*#generics*/
body{
    font-family: "open sans", sans-serif;
    padding-top: 60px;
}

img{
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
    display: block;
  
}

ul{
    list-style-type: none;
}


/*utilities-container*/
.container-l{
    max-width: 800px;
    margin: 0 auto;
}

.container-xl{
    max-width: 1000px;
    margin: 0 auto;
}

.container-card-prices{
    max-width: 210px;
    margin: 30px auto;
}
.container-card-prices-xl{
    max-width: 760px;
    margin: 30px auto;
}

/*utlities-spacing*/
.gap10{
    gap: 10px;
}

.gap30{
    gap: 30px;
}

.gap45{
    gap: 45px;
}


.mrg-b-xs{
    margin-bottom:10px;
}

.mrg-b-s{
    margin-bottom:15px;
}

.mrg-b-m{
    margin-bottom:30px;
}

.mrg-b-l{
    margin-bottom: 45px;
}

.mrg-b-xl{
    margin-bottom: 60px;
}


/*utilities-position*/
.flex{
    display: flex;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

/*utilities-text*/
.fnt-s{
    font-size: 15px;
}
.fnt-m{
    font-size: 20px;
}
.fnt-l{
    font-size: 25px;
}

.underline{
    text-decoration: underline;
}
/*utilities-colors*/

.bg-white{
    background-color: #fff;
}

.bg-azure{
    background-color: rgb(102, 155, 208);
}
.bg-grey{
    background-color: #ccc;
}

.bg-lime{
    background-color: rgb(138, 212, 0);
}

.bg-wine{
    background-color: rgb(76, 15, 15);
}

.bg-sky{
    background-color:rgb(0, 157, 255) ;
}

.bg-red{
    background-color: red;
}

.bg-cherry{
    background-color: rgb(151, 0, 0) ;
}

.bg-blue{
    background-color:blue;
}

.bg-yellow{
    background-color: yellow;
}

.bg-black{
    background-color: #000;
}

.clr-black{
    color: #000;
}

.clr-white{
    color: white;
}

.clr-blue{
    color: rgb(16, 92, 235);
}

.clr-wine{
    color: rgb(76, 15, 15);
}
/*utilities-btn*/
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn.btn-s{
    height: 30px;
    width: 60px;
}

.btn.btn-l{
    height: 35px;
    width: 175px;
    padding: 2px 15px;
}
.btn.btn-xl{
    height: 35px;
    width: 225px;
    padding: 2px 15px;
}

.btn.btn-blue{
    background-color: rgb(0, 82, 246);
    border-color: rgb(0, 82, 246)
}

.btn.btn-white{
    background-color: #fff;
    border: 1px solid #000;
}

/*borderline*/
.border{
    border: 1px solid #777;
}
.borderline{
    border: 1px solid;
}

.borderline-prices{
    color: #ccc;
    width: 20%;
}

.borderline-members{
    color: #aaa;
    width: 25%;
}

.borderline-footer{
    color: #fff;
    width: 10%;
}

/*layout*/
.row{
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    
}

.row.cols3{
    justify-content: space-between;
    gap: 30px;
}
.col33{
    flex-basis: calc((100% / 3) - (60px /3));
}

.cols3 .col33{
    flex-grow: 1;
}


/*header-bar*/
#header-bar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    justify-content: space-between;
    align-items: center;  
    padding: 0 15px;
    height: 60px;
    width: 100%;
}

#header-bar *{
    display: flex;
    align-items: center;
    font-size: 15px;
    
}

.hdr-nav-left, .hdr-nav-right{
    gap: 15px;
    width: 35%;
    height: 100%
    
}

.hdr-nav-right, .hdr-right-row-a{
    justify-content: flex-end;
}
 
.hdr-left-row-a, .hdr-right-row-a{
    width: 85%;
    gap: 25px;
    height: 100%
}

.hdr-nav-left img{
    width:90%;
}

.hdr-left-row-a a, .hdr-right-row-a a{
    color: #000;
    display: block;
    }

#header-bar li{
    height: 100%;
    border-bottom: 3px solid #ff000000;
}

#header-bar li:hover{
    border-bottom: 3px solid #777;
}


/*header-content*/

.hdr-cont-box{
    width: 100%;
    position: relative;
    bottom: -60px;
}

.hdr-title{
    width: 100%;
    font-size: 35px;
    padding-bottom: 25px;
}

.hdr-spot{
    width: 100%;
}

.hdr-text{
    width: 30%;
    flex-direction: column;
    gap: 25px;
}

.hdr-jumbo{
    width: 70%;
}

.arrow-btm i{
    position: absolute;
    left:0;
    bottom: 80px;
    font-size: 50px;
    color: #000;
}

/*main-section-bundles-prices*/
#bundles-prices{
    margin-top: 125px;
}

.radio-btn{
    display: inline-block;
    margin-right: 10px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    
}

.radio-btn.radio-btn-selected{
    border: 5px solid blue;
}

.radio-btn.radio-btn-unselected{
    border: 1px solid #000;
}

#bundles-prices *{
    font-size: 15px;
}

#bundles-prices h2{
    font-size: 20px;
}

#bundles-prices .row.cols3{
    margin-top: 50px;
}

.type-card{
    gap: 10px;
    padding: 7px 0;
    border-bottom: 1px solid #000;
   
}

.price-card{
    min-height:130px;
}

#bundles-prices .plan-card > ul{
    min-height: 185px;
}

.benefit-list > ul{
    min-height: 300px;
}


#bundles-prices ul li{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 20px;
    
}

#bundles-prices h3, #bundles-prices ul, 
#bundles-prices .btn, #bundles-prices a.underline,
#bundles-prices .borderline-prices{
    margin-bottom:30px;
}

.benefit-list>ul li i{
    color: blue;
}

#bundles-prices .price-card{
   justify-content: space-between; 
   align-items: flex-start;
}

#bundles-prices p{
    width: 75%;
}

/*section-partner*/
#partner{
    margin-top: 125px;
}

#partner .row{
    min-height: 400px;
}

#partner .col60{
    flex-basis: 60%;
    background-image: url(img/partner.png);
    background-size: cover;
    background-position: center;
}

#partner .col40{
    flex-basis: 40%;
    justify-content: flex-start;
    gap: 20px;
    padding-top: 30px;
    padding-left: 30px;
}

/*section-operations*/
#operations{
    margin-top: 125px;
}

#operations h2{
    font-size: 30px;
    margin-bottom: 50px;
}


#operations .box-img{
    max-width: 250px;
    max-height: 250px;
    margin-bottom: 20px;
}

#operations h3{
    margin-bottom: 25px;
}

/*section-members*/
#members{
    margin-top: 125px;
}

#members .row{
    margin-top: 80px;
}


#members .col33{
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}


.col33 .col50{
    min-height: 252px;
    width: calc(100%/2);
}

.col50 .box-img{
    height: 60%;
    width: 60%;
}

.col33 .col50, .col50 .box-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

#members .box-img img:not(.not){
    filter: brightness(3) url('#posterize') invert(100%) saturate(0) contrast(100%);
}

#members .card-middle{
    flex-direction: column;
    width: 90%;
    padding: 25px 25px;
    font-size: 12px;
    gap: 40px;
}

.card-middle .box-img{
    width: 50%;
}
.card-middle address{
   font-style: normal;
}

#members .card-xl{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 100px;
    padding: 125px 0;

}

/*section-questions*/
#questions{
    margin-top: 125px;
}

#questions .container-l >*{
    margin-bottom:25px;
}

.question{
    justify-content: space-between;
}

.p-quest{
    display: none;
    margin-top: 30px;
}

.quest-box:hover .p-quest{
    display: block;
}

/*footer*/
footer{
    margin-top: 125px;

}

footer *{
    color: #fff;
   

}

.page-ftr{
    width: 100%;
    padding-top: 80px;

}

footer .row{
    gap: 20px;
    margin-bottom: 80px;
}

footer .col20{
    width: calc((100% / 5) - (80px / 5));

}

footer .col20 h3{
    font-size: 20px;
    margin-bottom: 25px;
}

footer .col20 li{
    font-size: 12px;
    margin-bottom: 10px;
}

.ftr-btm{
    display: flex;
    align-items: center;
    padding: 40px 0;
    gap: 7px;
}

.ftr-btm *{
    font-size: 12px;
}
