/*css-reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*generics*/
body{
    font-family: "open sans", sans-serif;
    padding-top: 60px;
}

img:not(.hdr-jumbo img){
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
    display: block;
  
}

/*utilities*/
.container-xl{
    max-width: 1000px;
    margin: 0 auto;
}

.btn{
    border-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn.btn-s{
    height: 30px;
    width: 60px;
}

.btn.btn-xl{
    height: 30px;
    width:180px;
}

/*utilities-position*/
.flex{
    display: flex;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*utilities-sizing*/
.fnt-s{
    font-size: 15px;
}
/*utilities-position*/
.bg-blue{
    background-color: rgb(0, 82, 246);
}

.bg-white{
    background-color: #fff;
}

.bg-azure{
    background-color: rgb(102, 155, 208);
}

.clr-white{
    color: white;
}

/*header-bar*/
#header-bar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    justify-content: space-between;
    align-items: center;  
    padding: 0 15px;
    height: 60px;
    width: 100%;
}

#header-bar a{
    display: flex;
    align-items: center;
    font-size: 15px;
}

.hdr-nav-left, .hdr-nav-right{
    gap: 15px;
    width: 36%;
    
}
.hdr-nav-left, .hdr-left-row-a{
    justify-content: flex-start;
}

.hdr-nav-right, .hdr-right-row-a{
    justify-content: flex-end;
}
 
.hdr-left-row-a, .hdr-right-row-a{
    width: 85%;
    gap: 25px;
}

.hdr-nav-left a:first-child{
    width:30%;
}

.hdr-left-row-a a, .hdr-right-row-a a{
    color: #000
}

#header-bar .btn{
    align-self: center;
    justify-content:center ;
}

/*header-content*/
.hdr-page{
    padding: 60px 0;
    height: calc(100vh - 173px);
}

.hdr-cont-box{
    width: 100%;
    position: relative;
}

.hdr-title{
    width: 100%;
   
    font-size: 37px;
}

.hdr-spot{
    width: 100%;
}

.hdr-text{
    width: 30%;
    flex-direction: column;
    gap: 25px;
    padding-top: 55px;
}

.hdr-jumbo{
    position: relative;
    bottom: -57px;
    right: 15px;
    width: 70%;
}


.hdr-jumbo img{
    width: 120%;
}

.arrow-btm i{
    position: absolute;
    left:0;
    bottom: 0;
    font-size: 50px;
    color: #000;
}

/*main-section-bundles-prices*/
#section-bundles-prices *{
    border: 1px dashed red;
}
